<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.messmation.app">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".beacon.MessMationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNoActionBar.Light.NoActionBar">
        <activity
            android:name=".ActivitySplash"
            android:noHistory="true"
            android:theme="@style/Theme.AppNoActionBar.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity
            android:name=".homepage"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppNoActionBar.Light.NoActionBar" />
        <activity android:name=".GSignIn" />
        <activity android:name=".buyCoupon" />

        <service
            android:name=".services.CouponReminderIntentService"
            android:exported="false" />

        <!-- This is required for immediate syncs -->

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace">
            <meta-data
                android:name="longScanForcingEnabled"
                android:value="true" />
        </service>

        <activity
            android:name=".MerchantActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ManualCoupon"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".VendorHomepage" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_wMUvlvUawr1yn2" />
        <!-- android:value="rzp_live_ILgsfZCZoFIKMb" -->
        <!-- Card: 4111 1111 1111 1111 -->
        <!-- android:value="rzp_test_wMUvlvUawr1yn2" -->
        <activity android:name=".PaymentConfirmation"></activity>
    </application>

</manifest>